@using AlexShopDb.Models
@model List<Product>

@{
    ViewData["Title"] = "Главная страница";
}

<h1>Каталог</h1>

<div class="row">
    @foreach (var product in Model)
    {
        <div class="col-md-4">
            <div class="productd">
                <img src="@product.ImagePath" class="productd-img-top">
                <div class="productd-body">
                    <h5 class="productd-title">@product.Name</h5>
                    <p class="productd-text">@product.Price.ToString("C")</p>
                    <a href="@Url.Action("AddToFavorites", "product", new { id = product.Id })" class="btn btn-primary">
                    </a>
                    <a href="/product/index?productId=@product.Id" class="btn btn-secondary">Подробнее</a>

                    <a class="btn btn dark" href="/cart/add?productId=@product.Id" role="button"> Добавить в корзину</a>

                </div>
            </div>
        </div>

    }
</div>
